.Flashy {
    color: red;
    font-style: italic;
  }
.best {
    font-style: oblique;
  }

body {
  background-image: url("https://storage.needpix.com/rsynced_images/cupcakes-wallpaper-background.jpg");
  }
 